<!DOCTYPE html>
<html>
<body>
<h1>Recetas!</h1>
<ul>
<li><a href="{% url 'home' %}">home</a></li>
<li><a href="{% url 'menus' %}"> menus</a></li>
<li><a href="{% url 'pasta' %}"> pasta</a></li>
<li><a href="{% url 'spaguettis' %}"> spaguettis</a></li>
<li><a href="{% url 'rusa' %}"> rusa</a></li>
<li><a href="{% url 'frigol' %}"> frigol</a></li>
<li><a href="{% url 'gaz' %}"> gaz</a></li>
<li><a href="{% url 'guisado' %}"> guisado</a></li>
<li><a href="{% url 'masa' %}"> masa</a></li>
<li><a href="{% url 'sopas' %}"> sopas</a></li>
<li><a href="{% url 'facil' %}"> facil</a></li>

</ul>











</body>
</html>